<h2>Create New Landmark</h2>

<!-- add content here -->

<form method = "post" action = "/landmarks">
  <input type = "text" name = "landmark[name]" id = "landmark_name"><br>
  <input type = "number" name = "landmark[year_completed]" id = "landmark_year_completed" <br>
  <input type = "submit" value = "Create New Landmark">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
